[defaults]
inventory         = hosts.yml
remote_tmp        = $HOME/.ansible/tmp
pattern           = *
forks             = 50
poll_interval     = 15
transport         = smart
module_lang       = C
gathering         = implicit
host_key_checking = False
timeout           = 10
ansible_managed   = Ansible managed file: please do not touch

# set plugin path directories here, separate with colons
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins

fact_caching        = memory
retry_files_enabled = False
roles_path          = roles/

# [ssh_connection]
# pipelining   = True
# control_path = /tmp/ansible-ssh-%%h-%%p-%%r
